<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- 打印sql语句相关信息 -->
    <settings>
        <!--<setting name="logImpl" value="STDOUT_LOGGING"/>-->
        <setting name="defaultStatementTimeout" value="60"/><!-- 超时时间 -->
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!--分页参数合理化  -->
            <property name="reasonable" value="true"/>
            <!-- 该参数默认为false -->

            <!-- 设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用 -->

        </plugin>
    </plugins>
    <!-- mapper文件 -->
    <mappers>
        <!-- 总览页-->
        <mapper resource="mapper/SystemMapper.xml"/>
    </mappers>


</configuration>