<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdata.hdfs.mapper.UserMapper">

    <resultMap id="UserMap" type="User">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="sex" property="sex" jdbcType="INTEGER" />
        <result column="createtime" property="createtime" jdbcType="DATE" />
        <result column="updatetime" property="updatetime" jdbcType="TIME" />
        <result column="endtime" property="endtime" jdbcType="TIME" />
        <result column="userps" property="userps" jdbcType="VARCHAR" />
        <result column="isdel" property="isdel" jdbcType="INTEGER" />
    </resultMap>

    <insert id="save" parameterType="User" >
        insert into tb_admin_role_info(username,password,email,age,sex,createtime,endtime,userps,isdel)
        values (#{username},#{password},#{email},#{age},#{sex},#{createtime},#{endtime},#{userps},#{isdel})
    </insert>

    <select id="findAll" resultMap="UserMap">
        select *
        from tb_admin_role_info
        where 1=1 and isdel = 0
    </select>

    <select id="findByUsername" parameterType="Map" resultMap="UserMap">
        select *
        from tb_admin_role_info
        where 1=1 and isdel = 0
        and username = #{username,jdbcType=VARCHAR}
    </select>

    <select id="findByUsernameAndPassword" parameterType="Map" resultMap="UserMap">
        select *
        from tb_admin_role_info
        where 1=1 and isdel = 0
        and username = #{username,jdbcType=VARCHAR}
        and password = #{password,jdbcType=VARCHAR}
    </select>

    <insert id="update" parameterType="User" >
        update tb_admin_role_info
        set
          password = #{password,jdbcType=VARCHAR},
          email = #{email,jdbcType=VARCHAR},
          age = #{age,jdbcType=INTEGER},
          sex = #{sex,jdbcType=INTEGER},
          updatetime = #{updatetime,jdbcType=TIME},
          endtime = #{endtime,jdbcType=TIME},
          userps = #{userps,jdbcType=VARCHAR},
          isdel = #{isdel,jdbcType=INTEGER}
        where 1=1 and isdel = 0
        and username = #{username,jdbcType=VARCHAR}
    </insert>

    <insert id="delete" parameterType="User" >
        update tb_admin_role_info
        set isdel = 1
        where 1=1 and isdel = 0
        and username = #{username,jdbcType=VARCHAR}
    </insert>




</mapper>